.mat-card {
    width: 400px;
    padding: 30px;
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.mat-card-actions {
	margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0;
}

.mat-form-field {
	display: inline;
}

.app-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 20px !important;
}