<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
  <mat-card id="card" style="text-align: center;">
    <mat-card-title>
      <img src="../../../assets/jsd_logo.png" alt="JSON Schema Discovery" class="app-logo">
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="model.username" #username="ngModel" name="username" required/>
        <mat-error *ngIf="!username.valid">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="model.email" required/>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Por favor, digite um email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field>
        <input matInput placeholder="Criar senha" [type]="showPassword ? 'text' : 'password'" required [(ngModel)]="model.password" #password="ngModel" name="password" minlength="6">
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="!password.valid">
          Senha é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field><br/>
      <button mat-raised-button color="primary" [disabled]="loading" style="margin-right:5px;">Cadastrar-me</button>
      <a mat-raised-button [routerLink]="['/login']" style="margin-right:5px;">Cancelar</a>
    </mat-card-content>
  </mat-card>
</form>
