<mat-card>

  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-input-container class="mat-block">
        <input matInput placeholder="Nome" [(ngModel)]="model.username" #username="ngModel" name="username" required/>
        <mat-error *ngIf="!username.valid">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-input-container>

      <mat-input-container class="mat-block">
        <input type="email" matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="model.email" required/>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Por favor, digite um email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-input-container>

      <mat-input-container class="mat-block">
        <input type="password" matInput placeholder="Criar senha" [(ngModel)]="model.password" #password="ngModel" name="password" required minlength="6"/>
        <mat-error *ngIf="!password.valid">
          Senha é <strong>obrigatório</strong>
        </mat-error>
      </mat-input-container>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="loading">Cadastrar-me</button>          
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmatEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fmatgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmatsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a mat-raised-button [routerLink]="['/login']">Cancelar</a>
    </mat-card-actions>

  </form>

</mat-card>