<mat-list>
  <mat-list-item *ngFor="let batch of batches">
  	<h4 mat-line>{{batch.dbUri}}</h4>
  	<h6 mat-line>{{batch.collectionName}}</h6>
  	<mat-icon mat-list-icon *ngIf="batch.status == 'DONE'">done</mat-icon>
	<mat-icon mat-list-icon *ngIf="batch.status != 'DONE'">
		<mat-spinner></mat-spinner>
	</mat-icon>
	<button class="mat-icon-button" [routerLink]="['/batch', batch._id]">
		<mat-icon>visibility</mat-icon>
	</button>
	<button class="mat-icon-button" (click)="delete(batch._id)">
		<mat-icon>delete</mat-icon>
	</button>
  </mat-list-item>
</mat-list>

<span class="app-action">
  <button mat-fab [routerLink]="['/discovery']"><mat-icon>add</mat-icon></button>
</span>