<mat-card>

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <mat-card-header>
      <mat-card-title>Entrar</mat-card-title>
    </mat-card-header>

    <mat-card-content>

  		<mat-input-container class="mat-block" >
        <input matInput type="email" placeholder="Email" required [formControl]="emailFormControl" [(ngModel)]="model.email" />
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Por favor, digite um email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-input-container>

  		<mat-input-container class="mat-block">
        <input matInput placeholder="Senha" [type]="show ? 'text' : 'password'" required [(ngModel)]="model.password" #password="ngModel" name="password">
        <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="!password.valid">
          Senha é <strong>obrigatório</strong>
        </mat-error>
      </mat-input-container>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="loading">Entrar</button>          
      <a mat-raised-button [routerLink]="['/register']">Criar conta</a>
    </mat-card-actions>

  </form>
  
</mat-card>
