<mat-card>

	<mat-card-header>
		<mat-icon mat-list-icon>description</mat-icon>
    	<mat-card-title>{{batch?.collectionName}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
    	<mat-list>
	  		<mat-list-item>
		  		<mat-icon mat-list-icon>cloud</mat-icon>
				<h4 mat-line>Url</h4>
				<p mat-line>{{batch?.dbUri}}</p>
			</mat-list-item>
			<mat-list-item>
		  		<mat-icon mat-list-icon>info</mat-icon>
				<h4 mat-line>Quantidade de registros na coleção</h4>
				<p mat-line>{{batch?.collectionCount}}</p>
			</mat-list-item>
			<mat-list-item>
		  		<mat-icon mat-list-icon>info</mat-icon>
				<h4 mat-line>Registros com mesma estrutura original</h4>
				<p mat-line>{{batch?.uniqueUnorderedCount}}</p>
			</mat-list-item>
			<mat-list-item>
		  		<mat-icon mat-list-icon>info</mat-icon>
				<h4 mat-line>Registros com mesma estrutura ordenada</h4>
				<p mat-line>{{batch?.uniqueOrderedCount}}</p>
			</mat-list-item>
			<mat-list-item>
		  		<mat-icon mat-list-icon>description</mat-icon>
				<h4 mat-line>JSONSchema</h4>
				<button class="mat-icon-button" [routerLink]="['/jsonschema', batch?._id]">
					<mat-icon>visibility</mat-icon>
				</button>
				<button class="mat-icon-button" (click)="download()">
					<mat-icon>get_app</mat-icon>
				</button>
			</mat-list-item>
		</mat-list>

    </mat-card-content>

</mat-card>