<form name="form" #f="ngForm"> 
  <mat-horizontal-stepper [linear]="isLinear">
    
    <mat-step>
      <ng-template matStepLabel>Conexão</ng-template>
      <mat-form-field>
        <input matInput placeholder="Endereço" [(ngModel)]="model.address" name="address" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Porta" [(ngModel)]="model.port" name="port" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nome do banco" [(ngModel)]="model.databaseName" name="databaseName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nome da coleção" [(ngModel)]="model.collectionName" name="collectionName" required>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="model.rawSchemaFormat" name="rawSchemaFormat">Coleção no formato Raw Schema</mat-checkbox>
      <div>
        <button mat-button [routerLink]="['/']">Cancelar</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="f.form.invalid">Próximo</button>
      </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Autenticação</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nome do banco de dados de administração" [(ngModel)]="model.authentication.authDatabase" name="authDatabase">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Usuário" [(ngModel)]="model.authentication.userName" name="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Senha" [(ngModel)]="model.authentication.password" name="password"> 
      </mat-form-field>
      <mat-select placeholder="Mecanismo de autenticação" [(ngModel)]="model.authentication.authMechanism" name="authMechanism">
        <mat-option *ngFor="let authMechanism of authMechanisms" [value]="authMechanism">{{authMechanism}}</mat-option>
      </mat-select>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="f.form.invalid">Próximo</button>
      </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Pronto</ng-template>
      <p>
      Esse processo pode demorar de acordo com o tamanho da coleção de documentos informado.
      Você receberá uma notificação assim que o JSONSchema for extraído. </p>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" [disabled]="f.form.invalid" (click)="f.form.valid && discovery()">Extrair JSONSchema</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
