.mat-form-field {
	display: inline;
}

.mat-stepper-horizontal {
	width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mat-select {
	padding-bottom: 17.5px;
}

.mat-checkbox {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
