<mat-sidenav-container >

	<mat-sidenav mode="side" #sidenav>

		<mat-list>

			<mat-list-item class="app-logo-side-nav">
				<img src="../../../assets/jsd_logo.png" alt="JSON Schema Discovery">
			</mat-list-item>

			<mat-list-item class="app-divider"></mat-list-item>

			<mat-list-item>
				<button mat-button color="primary" class="app-side-nav-button" [routerLink]="['/']">
					<i class="material-icons">home</i>
					WORKSPACE
				</button>
			</mat-list-item>

			<mat-list-item>
				<button mat-button color="primary" class="app-side-nav-button" [routerLink]="['/alert']">
					<i class="material-icons">notifications</i>
					ALERTAS
				</button>
			</mat-list-item>

			<mat-list-item class="app-divider"></mat-list-item>

			<mat-list-item>
				<button mat-button color="primary" class="app-side-nav-button" (click)="logout();sidenav.close()">
					<i class="material-icons">exit_to_app</i>
					LOGOUT
				</button>
			</mat-list-item>

		</mat-list>
	</mat-sidenav>

	<mat-toolbar color="primary" *ngIf="isLogged">

		<button class="mat-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons button-open-side-nav">menu</i>
		</button>

		<button class="app-toolbar-title" mat-menu-item [routerLink]="['/']">JSONSchema Discovery</button>

		<button class="mat-icon-button" mat-button [routerLink]="['/alert']">
      <mat-icon *ngIf="alertsCount > 0" [matBadge]="alertsCount" matBadgeColor="warn">notifications</mat-icon>
      <mat-icon *ngIf="alertsCount == 0">notifications_none</mat-icon>
		</button>

		<button class="mat-icon-button" mat-button [mat-menu-trigger-for]="menu">
			<i class="material-icons">account_circle</i>
		</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item [routerLink]="['/user']">Perfil</button>
			<button mat-menu-item (click)="logout();sidenav.close()">Sair</button>
		</mat-menu>

	</mat-toolbar>

	<app-feedback></app-feedback>

	<app-loading></app-loading>

	<router-outlet></router-outlet>

</mat-sidenav-container>
