.app-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-logo-side-nav {
    padding-bottom: 20px;
    padding-top: 20px;
}

.app-side-nav-button{
  text-align: left;
  width: 100%;
  height: 100%;
}

.button-open-side-nav{
  line-height: 40px;
}

.mat-drawer-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.mat-drawer {
  padding: 10px;
  min-width: 170px;
}

.mat-card {
  background: rgba(0,0,0,0.0);
  box-shadow: none !important;
  color: hsla(0,0%,100%,.87);
  padding: 14px;
}

.mat-button {
  min-width: 0px;
  padding: 0px;
}

.app-toolbar-title {
  background: #3f51b5;
  margin-left: 10px;
  color: hsla(0,0%,100%,.87);
}

.app-toolbar-title:focus,
.app-toolbar-title:hover,
.app-toolbar-title:active{
  background: #3f51b5;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-notification {
  top: 8px;
  background: #f36;
  border-radius: 3px;
  left: 20px;
  padding: 0 3px;
  position: absolute;
  font-size: 10px;
  line-height: 13px;
}