<mat-sidenav-container >

	<mat-sidenav mode="side" #sidenav>
		SIDENAV
	</mat-sidenav>

	<mat-toolbar color="primary" *ngIf="isLogged">

		<button class="mat-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons">menu</i>
		</button>

		<button class="app-toolbar-title" mat-menu-item [routerLink]="['/']">JSONSchema Discovery</button>

		<span class="app-toolbar-filler"></span>

		<mat-card>
			<button class="mat-icon-button" mat-button [routerLink]="['/alert']">
				<i class="material-icons" [hidden]="!alertsCount">notifications</i>
				<i class="material-icons" [hidden]="alertsCount">notifications_none</i>
				<span class="app-toolbar-notification" [hidden]="!alertsCount">{{alertsCount}}</span>
			</button>
		</mat-card>

		<mat-card>
			<button class="mat-icon-button" mat-button [mat-menu-trigger-for]="menu">
				<i class="material-icons">account_circle</i>
			</button>
		</mat-card>

		<mat-menu #menu="matMenu">
			<button mat-menu-item [routerLink]="['/user']">Perfil</button>
			<button mat-menu-item (click)="logout()">Sair</button>
		</mat-menu>

	</mat-toolbar>

	<app-feedback></app-feedback>

	<router-outlet></router-outlet>

</mat-sidenav-container>